body {
    background: url(../images/background.jpeg) no-repeat center fixed;
    background-size: cover;
}

h1 {
    font-family: 'Michroma', sans-serif;
    font-size: xx-large;
    margin: 20px 10px;
}

h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: larger;
    margin: 10px 10px;
}

img {
    width: 80%;
    height: 70%;
}

#charSelected, #opponents, #enemy, .characters{
    margin: 5px 10px;
}

.char {
    display: inline-block;
    height: 5%;
    width: 13%;
    text-align: center;
    background-color: #ffffff;
    border: solid #0097ff 2px;
}

.opponent {
    display: inline-block;
    height: 5%;
    width: 13%;
    text-align: center;
    background-color: #900000;
    border: solid #000000 2px;
}

#attack {
    margin: 10px 10px;
    text-align: center;
}

#reset {
    margin: 10px 10px;
    text-align: center;
}