body {
    background: url(../images/background.jpeg) no-repeat center fixed;
    background-size: cover;
}

.container {
    height: 50px;
    width: 100%;
    padding: 10px;
}

.title {
    position: absolute;
    top: 4%;
    font-family: 'Michroma', sans-serif;
    font-size: xx-large;
}


h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: larger;
    margin: 10px 10px;
    text-decoration: underline;
}

img {
    width: 80%;
}

#charSelected, #opponents, #enemy, .characters{
    margin: 5px 10px;
}

.char {
    display: inline-block;
    height: 5%;
    width: 13%;
    text-align: center;
    background-color: #ffffff;
    border: solid #0097ff 2px;
}

.opponent {
    display: inline-block;
    height: 5%;
    width: 13%;
    text-align: center;
    background-color: #900000;
    border: solid #000000 2px;
}

#attack {
    margin: 10px 10px;
    text-align: center;
}

#reset {
    margin: 10px 10px;
    text-align: center;
}

#characterAttack {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    margin: 0 10px;
}

#opponentCounter{
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    margin: 0 10px;
}

#win-or-lose{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    margin: 0 10px;
    text-align: center;
}

.char:hover {
    opacity: .75;
}
